
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: border-box;;
}
body{
	border-color: black;
	box-sizing: border-box;
	background-color: #EEEADD;
	padding: 0;
	margin: 0;
	width:1920px;
	max-width: 100%;
}
.vertical-center {
	transform: translateY(30%);
  }
#grid50{
	font-family: Tahoma, sans-serif;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 50% 50%;
	column-count: 2;
	column-gap: 0;
	column-width: 400px;
}